*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  background: #121822;
}

.middle{
  display: grid;
  place-content: center;
  font-size: 1.75em;
}
.header{
  display: flex;
  place-items: center;
  justify-content: center;
}
img{
  width: auto;
  height: 120px;
}